
.card div{
    display: block;
    /* justify-content: center; */
    /* align-items: center; */
    padding: 10px;
    width: 100%;
    
    
}
form,input {
    width: 100%;
    display: block;

}
.cont {
    background-color: darkgray;
}
.box{
    width: 20px;
    display: inline;
}
#btn{
    width: 100%;
    color: white;
}
.cont2{
    background-color: darkgray;
}

